<!DOCTYPE html>
<html>
<head>
  <title>Dinosaurs Eat Everybody :: <%= @page_title %></title>

  <link href="../stylesheets/style.css" media="all" rel="stylesheet" type="text/css"/>
  <link href="../stylesheets/font-awesome.min.css" media="all" rel="stylesheet" type="text/css"/>

  <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon" />
</head>
<body>
  <div id="shell">
  	<header>
  		<a href="../"><h1 class="page_title">dinosaurs eat everybody</h1></a>
      <div class="page_subtitle">for all your Dave Schwantes related needs</div>
  	</header>
    <nav>
      <%= erb :_nav %>
      <a href="https://twitter.com/dorkrawk" title="@dorkrawk"><i class="icon-twitter icon-3x"></i></a>
      <a href="https://github.com/dorkrawk" title="dorkrawk on Github"><i class="icon-github icon-3x"></i></a>
    </nav>
    <div id="content">
  	 <%= yield %>
    </div>
  	<footer>
  		all content unless obvious or otherwise noted belongs to Dave Schwantes © <%= Time.now.year %> <br />
      <br />
      <%= @fact %>
  	</footer>
  </div>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-711603-5']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>